@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #1d0d3d;
  font-family: "M PLUS 1 Code", monospace;
  color: #ebfefe;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.p-w-header.is-open .p-w-header-background {
  left: 0;
}
.p-w-header-button-wrapper {
  margin-left: auto;
}
.p-w-header-icon {
  display: none;
}

.p-w-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.p-w-navigation-list.is-open {
  right: 0;
}
.p-w-header-icon-menu {
  display: block;
}

.p-w-header-icon-button.is-open .p-w-header-icon-menu {
  display: none;
}

.p-w-header-icon-button.is-open .p-w-header-icon-close {
  display: block;
}

.p-w-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #1d0d3d;
}

.p-w-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #1d0d3d;
}
.p-w-header.is-open .p-w-header-background {
  left: 0;
}
.p-w-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-w-header-icon-menu {
  display: block;
}

.p-w-header-icon-button.is-open .p-w-header-icon-menu {
  display: none;
}

.p-w-header-icon-button.is-open .p-w-header-icon-close {
  display: block;
}

.p-w-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.p-w-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;

  border-radius: 16px;

  padding-top: 16px;
  padding-bottom: 36px;

  gap: 28px;
  background: #1d0d3d;
}

.p-w-navigation-list.is-open {
  right: 0;
}

.p-w-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ebfefe;
  font-family: M PLUS 1 Code;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.p-w-navigation-link:hover,
.p-w-navigatioт-link:focus {
  color: #469dff;
}

.p-w-header.is-open {
  background-color: transparent;
}

.p-w-navigation-img {
  display: none;
}

@media screen and (min-width: 1208px) {
  .p-w-navigation-img {
    display: block;
    margin-right: 690px;
  }
  .p-w-policy-terms-header-icon-menu {
    display: none;
  }
  .p-w-header-button-wrapper {
    display: none;
  }
  .p-w-header {
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .p-w-header-icon-button {
    display: none;
  }
  .p-w-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .p-w-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 36px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .p-w-navigation-link {
    font-family: M PLUS 1 Code;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-w-navigation-item-desk {
    display: none;
  }
}

.p-w-home {
  margin: auto;
}
.p-w-home-container {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero.png");
  padding: 100px 16px 0px;
  margin: auto;
}

.p-w-home-title {
  font-family: M PLUS 1 Code;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}

.p-w-home-text {
  font-family: M PLUS 1 Code;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;

  padding: 16px 0 64px;
}
.p-w-home-text-two {
  font-family: M PLUS 1 Code;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-bottom: 240px;
}
.p-w-home-link {
  width: 180px;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.p-w-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1208px) {
  .p-w-home {
    width: 100%;
    background-image: url("/img/Hero (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .p-w-home-container {
    max-width: 1440px;
    height: 712px;
    width: 1440px;
    margin: 0 auto;
    padding: 120px 160px;
    background-image: url("/img/Hero (2).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .p-w-home-title {
    font-family: M PLUS 1 Code;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 96px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .p-w-home-text {
    font-family: M PLUS 1 Code;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    width: 544px;
    padding: 16px 0 96px;
  }
  .p-w-home-text-two {
    font-family: M PLUS 1 Code;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    width: 544px;
    padding-bottom: 48px;
  }
  .p-w-home-link {
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
}
.p-w-about {
  margin: auto;
  width: 375px;
  height: 1119px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Features.png");
}
.p-w-about-container {
  width: 375px;
  padding: 60px 16px 0px;
  margin: auto;
}
.p-w-about-title {
  font-family: M PLUS 1 Code;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.p-w-about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 48px;
}
.p-w-about-text {
  font-family: M PLUS 1 Code;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  color: #469dff;
}

.p-w-about-text-bold {
  font-family: M PLUS 1 Code;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 8px;
}

@media screen and (min-width: 1208px) {
  .p-w-about {
    width: 1440px;
    height: 812px;
    background-image: url("/img/Features\ \(1\).png");
  }
  .p-w-about-container {
    width: 1440px;
    padding: 80px 160px;
  }
  .p-w-about-title {
    font-family: M PLUS 1 Code;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .p-w-about-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 64px;
    width: 544px;
  }
  .p-w-about-text {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-w-about-text-bold {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 8px;
  }
}

.p-w-why-container {
  width: 375px;
  height: 771px;
  margin: auto;
  padding: 60px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ It\ Works.png");
}
.p-w-why-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.p-w-why-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p-w-why-text-bold {
  font-family: M PLUS 1 Code;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #469dff;
}
.p-w-why-text {
  font-family: M PLUS 1 Code;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1208px) {
  .p-w-why-container {
    width: 1440px;
    height: 911px;
    padding: 80px 160px;
    background-image: url("/img/How\ It\ Works\ \(1\).png");
  }
  .p-w-why-list {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .p-w-why-item {
    width: 352px;
  }
  .p-w-why-text-bold {
    font-family: M PLUS 1 Code;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .p-w-why-text {
    font-family: M PLUS 1 Code;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.p-w-reviews-container {
  margin: auto;
  padding: 60px 16px;
  width: 375px;
  height: 448px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/CTA.png");
}

.p-w-reviews-text-bold {
  font-family: M PLUS 1 Code;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.p-w-reviews-text {
  font-family: M PLUS 1 Code;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 64px;
}

@media screen and (min-width: 1208px) {
  .p-w-reviews {
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/CTA\ \(1\).png");
  }
  .p-w-reviews-container {
    margin: auto;
    padding: 80px 352px;
    width: 1440px;
    height: 487px;
    background-image: none;
  }

  .p-w-reviews-text-bold {
    font-family: M PLUS 1 Code;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }

  .p-w-reviews-text {
    font-family: M PLUS 1 Code;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    padding: 16px 0 48px;
  }
  .p-w-home-link-two {
    margin: auto;
  }
}

.p-w-faq-container {
  padding: 60px 16px;
  width: 375px;
  margin: auto;
}
.p-w-faq-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-w-faq-item {
  border-radius: 16px;
  padding: 15px;
  border: 1px solid #0a070f;
  background: #ebfefe;
}

.p-w-faq-question {
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-family: M PLUS 1 Code;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  color: #1d0d3d;
  letter-spacing: 0%;
}

.p-w-faq-answer {
  font-family: M PLUS 1 Code;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #0a070f;
}
.p-w-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.p-w-toggle-button img {
  width: 28px;
  transition: transform 0.3s ease;
}
.p-w-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.p-w-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.p-w-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1208px) {
  .p-w-faq-container {
    padding: 80px 160px;
    width: 1440px;
    margin: auto;
    background-image: url("/img/FAQ.png");
    background-repeat: no-repeat;
    background-position: top;
    min-height: 649px;
  }
  .p-w-faq-list {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    width: 736px;
    margin-left: auto;
    gap: 16px;
  }

  .p-w-faq-item {
    border-radius: 16px;
    padding: 16px;
  }

  .p-w-faq-question {
    font-family: M PLUS 1 Code;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-w-faq-answer {
    font-family: M PLUS 1 Code;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.p-w-policy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  color: #0a070f;
  font-family: "M PLUS 1 Code", monospace;
}

.p-w-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: M PLUS 1 Code;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.p-w-policy-terms-container h2 {
  margin: 20px 0;
  font-family: M PLUS 1 Code;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}
.p-w-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}
.p-w-policy-terms-container a {
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 1208px) {
  .p-w-policy-terms-container {
    padding: 140px 160px 80px;
    width: 1440px;
    font-family: M PLUS 1 Code;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .p-w-policy-terms-container h1 {
    font-family: M PLUS 1 Code;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .p-w-policy-terms-container h3 {
    font-family: M PLUS 1 Code;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.p-w-footer-container {
  width: 375px;
  padding: 40px 16px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 40px;
  color: #ebfefe;
}

.p-w-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-w-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: M PLUS 1 Code;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.p-w-footer-copyright {
  font-family: M PLUS 1 Code;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1208px) {
  .p-w-footer-container {
    width: 1440px;

    gap: 40px;
  }

  .p-w-footer-text {
    font-family: M PLUS 1 Code;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .p-w-footer-copyright {
    font-family: M PLUS 1 Code;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
